* {
  font-family: sans-serif;
}

body {
  margin: 0 0; /* lets navbar hug the side */
}

main {
  margin-left: 250px; /* amount needed to counter width of */
  padding: 0 25; /* space between body content and navbar */
}

hr {
  width: 85%;
  color: lightgrey;
  margin-top: 40;
}

iframe {
  margin-left: 40;
  margin-top: 15;
  margin-bottom: 15;
}

/* code */

/* I copied the MDN Web Docs CSS for <code> */

code {
  background-color: aliceblue;
  font-family: 'Courier New', Courier, monospace; 
}

li {
  margin: 10 auto;
}

/* table */

/* used a table generator and copied styling */

.tg {
  border-collapse:collapse;border-spacing:0;
}

.tg td {
  border-color:black;
  border-style:solid;
  border-width:1px;
  font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

/* navbar */

#navbar {
  position: fixed;
  top: 0; /* moves navbar to top-left corner of screen */
  width: 250px;
  height: 100%;
  background-color: aliceblue;
}

nav header {
  text-align: center;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  margin: 0 0 25 0;
  display: block;
}

nav p {
  margin: 0 20 auto;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
}

nav img {
  height: 100px;
  margin: 25 auto;
  display: block;
}

/* hides navbar at certain width */
@media only screen and (max-width: 650px) {
  #navbar {
    all: revert;
    display: none;
    visibility: hidden;
  }
  main {
    margin-left: 0px;
  }
}