/* font imports */

/* Abel */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

/* Rock Salt */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abel', sans-serif;
}

html {
    scroll-behavior: smooth;
}
  
/* header */

#header {
    background-color: white;
    display: block;
    position: fixed;
    top: 0em;
    width: 100%;
    height: 8em;
    border-bottom: 0.25em solid crimson;
}

.container {
    width: 85%;
    margin: 0 auto;
}

#header-img {
    float: left;
    margin-top: 0.75em;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 2em;
    padding-top: 3.5em;
}

nav a {
    color: seagreen;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25em;
}

nav a:hover {
    color: #000;
}

/* body */


body {
    background-color: aliceblue;
    margin-top: 8em;
}

h1 {
    text-align: center;
    font-family: 'Rock Salt', cursive;
    margin-top: 4.5em;
    margin-bottom: 1em;
}

h2 {
    text-align: center;
    font-family: 'Rock Salt', cursive;
    margin-top: 1.5em;
}

#home p {
    font-size: 1.25em;
    margin-left: 5%;
    margin-right: 5%;
}

#home-images {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.home-img {
    width: 30%;
    max-width: 600px;
    margin-left: 1%;
    margin-right: 1%;
}

#map {
    border-left: 0em solid;
    border-right: 0em solid;
    border-top: 0.25em solid crimson;
    border-bottom: 0.25em solid crimson;
    width: 100%;
    height: 30em;
}

/* menu and about */

h3 {
    padding-left: 1em;
    font-size: 1.5em;
}

/* menu */

.menu-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.menu-item {
    width: 20em;
    border: 0.2em double seagreen;
    border-radius: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: 1em 1em 1em 1em;
}

.menu-item img {
    max-width: 15em;
    border-radius: 100%;
    margin-top: 1em;
}

.menu-item h4 {
    text-align: center;
}

.description {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 1em;
    margin-top: 1em;
}

.price {
    text-align: center;
    font-size: 1em;
}

.s-deal {
    text-align: center;
    font-size: 1.25em;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

/* about */

#about p {
    font-size: 1.25em;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.video-container {
    display: block;
    text-align: center;
}

#video {
    width: 60%;
    height: 25em;
    max-width: 45em;
}

/* media queries */

/* hides header at certain width */
@media only screen and (max-width: 650px) {
    #header {
      all: revert;
      display: none;
      visibility: hidden;
    }
    body {
      margin-top: 0em;
    }
    h1 {
        margin-top: 1.5em;
    }

    #video {
        height: 15em;
    }

    /* hide side image at top when screen small enough */
    .hide-img {
        display: none;
    }
    .center-img {
        width: 85%;
    }


}